* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}
.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000000;
  z-index: 9999;
  opacity: 1;
}

.loader {
  text-align: center;
  color: #fff;
}

.loader img {
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

.head-container {
  color: white;
}

.head-container h1 {
font-size: 4rem;
letter-spacing: 10px;
color: rgb(250, 217, 177);
position: absolute;
top: 3%;
left: 50%;
transform: translate(-50%, -3%);
padding: 1rem;
}
.head-container p {
  font-size: 2rem;
  color: rgb(255, 235, 211);
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.underline {
  position: relative;
}

.underline::before,
.underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  background-color: rgb(253, 131, 131);
  transition: all 0.3s ease-in-out;
}

.underline::before {
  left: 50%;
}

.underline::after {
  right: 50%;
}

@keyframes underline-expand {
  0% {
    width: 0;
    height: 2px;
  }
  50% {
    width: 50%;
    height: 3px;
  }
  100% {
    width: 0;
    height: 2px;
  }
}

.underline::before,
.underline::after {
  animation-name: underline-expand;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}



main {
  min-height: 100vh;
  position: relative;
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
  url('./assests/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.cards-container {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -70%);
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 300px;
  height: 250px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
}

.img-1 {
  background-image:
  linear-gradient( rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.2)),
  url('./assests/1.jpeg');
  height: 100%;
  border-radius: 10px;
  scale: 1;
  transition: all 0.5s ease;
}
.img-1:hover {
  scale: 1.3;
}
.img-2 {
  background-image:
  linear-gradient( rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.2)),
  url('./assests/2.png');
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.img-2:hover {
  scale: 1.3;
}

.img-3 {
  background-image:
  linear-gradient( rgba(0, 0, 0, 0.34), rgba(0, 0, 0, 0.2)),
  url('./assests/3.png');
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.img-3:hover {
  scale: 1.3;
}
